*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    border: 3px solid black;
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
}

.child1{
    border-right: 3px solid black;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.child2{
    border-right: 3px solid black;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.cuadrados{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child3, .child4, .child5, .child6{
    border-right: 3px solid black;
    width: 6.25vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.child6{
    border: none;
}

.rebajas{
    background-image: url(./esenzzia2.png);
    background-size: cover;
    width: 100vw;
    height: 80vh;
    border: 3px solid black;
    border-top: none;
}

.boton-rebajas{
    background-color: black;
    border: 3px solid black;;
    color: white;
    padding: 24px 115px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
    top: 70%;
    transition: .5s;
}

.boton-ayuda {
    width: 20%;
  }

.boton-rebajas:hover {
    background-color: #ffffff;
    color: black;
    border: 3px solid black;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    
}

.child-boton-ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.75rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
  }
  
  .child-boton-ayuda:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    border: 1.5px solid black;
  }

.frase{
    height: 6vh;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.frase p{
    text-transform: uppercase;
}

.container3{
    background-color: rgb(255, 255, 255);
    border: 1.3px solid rgb(26, 24, 24);
    height: 100vh;
    width:100%;
    display: flex;
}

.container3-child1{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    padding: 20px;
    padding-top: 200px ;
    font-family: 'Roboto', sans-serif;
}

.container3-child2{
    width: 100vh;
    height: 70vh ;
    font-size: 250px;
    color: #E8E8E8;
    text-align: center;
    border:none;
    text-decoration-line: underline; 
}

.container3-child3{
    display: flex;
    align-self: flex-end;
    width: 100vh;
    height: 27vh;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.container3-child3-1, .container3-child3-2{
    background-color: #fff;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight:bold;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.container3-child3-1:hover {
  text-decoration: underline;
}

.container3-child3-2:hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
}

.container-mas-vendidos{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.text-vendidos{
    width: 95%;
    text-transform: uppercase;
}
.container-btn{
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    height: 100%;
    width: 30px;
    color: grey;
    background-color: white;
    border: none;
}

.container-cards{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.card{
    width: 23%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.link-vendidos a{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-decoration-color: none;
    font-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.p-white{
    color: white;
}

.descuento{
    display: flex;
    justify-content: space-between;
    color: white;
}

.desc-porcent{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px ;
    padding: 5px;
}

.floral{
    padding: 10px;
    font-size: 12px ;
    font-weight: 500;
}

.codigo{
    color: white;
    font-size: 100px;
    font-weight: 700;
    align-self: center;
}

.informacion{
    padding: 5px 35px;
}

footer{
    height: 100vh;
    width: 100vw;
    background-color:black ;
}